body{
    margin:0;
    padding:0;

}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: #0890ff;
    padding-top: 15px;
    padding-bottom:15px;
}
.header-menu{
    display:flex;
    gap: 20px;
    justify-content: center;
}
.header-link{
    background-color:rgb(255, 243, 110);
    color: black;
    text-decoration: none;
    display: block;
    padding:10px;
    border-radius:5px;
}
.header-link :hover{
    font-weight: 700;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.gallery{
    background-color: beige;
    padding-top: 40px;
    padding-bottom: 40px;
}
.gallery-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap:30px;
}
.btn{
    background-color: rgb(238, 200, 101);
    border-radius:5px;
    height: 50px;
    width: 70px;
    margin: auto;
    display: block;
}
.btn:hover{
    background-color: rgb(93, 67, 33);
}